.logo {
    width: 80px;
}

.main-container {
    width: 100vw;
    height: 93.9vh;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100%), url(../images/bg-image.jpg);
    background-repeat: repeat-y;
}

.content {
    position: absolute;
    top: 10rem;
    left: 18rem;
}

h1 {
    font-size: 5rem;
    font-weight: bolder;
}
.login-btn {
    padding: 0.3rem 3rem;
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
}

footer {
    background-color: #CCC2B8;
}

@media only screen and (max-width: 768px) {

    .main-container {
        height: 93.6vh;
    }
    
    .content {
        position: absolute;
        top: 10rem;
        left: 1rem;
    }

    h1 {
        font-size: 3rem;
    }


}